<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You have chosen {{ pizza.name }} with a base of {{ pizza.base }}</h1>
    {% if not pizza.eater %}
        <form method="POST">
            {% csrf_token %}
            <!-- All this does is render the form (.as_p) as paragraph -->
            {{ form.as_p }}
            <p>There still some pizza left, you can eat it</p>
            <input type="submit" value="Eat me!"></input>
        </form>
    {% else %}
        {% if pizza.eater == user %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p>You ate the pizza already, un-eat it to make it available.</p>
                <input type="submit" value="Un-eat!"></input>
            </form>
        {% else %}
            <p>This pizza has been eaten by {{pizza.eater}}.</p>
            <button disabled="disabled">Eat pizza</button>
        {% endif%}
    {% endif %}
</body>
</html>